<!DOCTYPE html>
<html>

<head>
    <title>Digit Recogniser</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>

<body>
    <script src="static/js/script.js"></script>
    <script src="static/js/myLine.js"></script>
    
    <div class="centered">
        <h1 id="result"></h1>
    </div>
</body>


</html>