<!DOCTYPE html>
<html>

<head>
    <title>Digit Recogniser</title>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>

<body>
    <script src="static/js/script.js"></script>
    <script src="static/js/myLine.js"></script>
    <h1 id="app_title"> Hand-written digit recogniser </h1>
    <h1 id="result_digit_mlp"> Please draw a digit. </h1>
    <h1 id="result_prob_mlp"></h1>
    
    <h1 id="result_digit_cnn"></h1>
    <h1 id="result_prob_cnn"></h1>
    
    <h1 id="result_digit_nmf"></h1>
    <h1 id="result_prob_nmf"></h1>
</body>
</html>