html {
    height: 100%;
    background: #69c4e8;
    position: static;
}

#app_title{
    position: absolute;
    left: 230px;
    top: 5px;
    font-family: 'Open Sans', Helvetica;
    color: #07620e;
    font-size: 30px;
    font-weight: 30;
}

#result_digit {
    position: absolute;
    left: 230px;
    top: 60px;
    font-family: 'Open Sans', Helvetica;
    color: #f71010;
    font-size: 15px;
    font-weight: 20;
}

#result_prob {
    position: absolute;
    left: 230px;
    top: 80px;
    font-family: 'Open Sans', Helvetica;
    color: #5768d7;
    font-size: 15px;
    font-weight: 30;
}